@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

@theme {
    --font-archivo-black: "Archivo Black", sans-serif;
    --text-88: 88px;
    --text-20: 20px;
    --color-cream: #FFFCE7;
    --color-gradient-cyan: #0CC0DF;
    --color-gradient-yellow: #FFDE59;
}